.countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    

    &--info{
        color:red;
    }

    &--title{
      color: #0FF5FF;
      font-size: 20px;
    }
&--input{
width: 50%;    

}

&--zoneControl{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 0px 10px 10px;
    border: solid 2px gray;
}
    
}

