.digital-clock{
    text-align: center;
    display: flex;
    font-size: 1.8vh;
    color: #0FF5FF;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width:30%;
    justify-content: center;
    border:solid 2px gray;
    border-radius: 10px;
}