.stopwatch{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 30%;
    height: 200px;

    &--timer{

        font-size: 25px;
        color:red;


    }

    &--button{
    font-family: "Orbitron", sans-serif;
    background-color: black;
    color: #0ff5ff;
    padding: 10px;
    border-top-left-radius:15px;
    border-bottom-right-radius: 15px;
    }

}