.header {
  
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #0ff5ff;
  text-align: center;
  
  &--title {
    width: 60%;
    background: rgb(60, 60, 60);
    background: linear-gradient(
      0deg,
      rgba(60, 60, 60, 1) 5%,
      rgba(101, 101, 101, 1) 20%,
      rgba(156, 156, 156, 1) 35%,
      rgba(156, 156, 156, 1) 65%,
      rgba(101, 101, 101, 1) 80%,
      rgba(60, 60, 60, 1) 95%
    );
    border: solid 2px black;
    padding: 15px;
  }
}

.navButtons {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

  &--button {
    font-family: "Orbitron", sans-serif;
    background-color: black;
    color: #0ff5ff;
    padding: 10px;
  }
}
