@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  height: 937px;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/assets/nave.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  
}

code {
  font-family: 'Orbitron', sans-serif;
  
}
